%form{:action => '/table', :method => :get}

  - sources.each do |source|
    .source{:class => "source #{source.keyword}"}
      %h1= source.name
      = source_form source
      %h6
        Data source:
        %a{:href => source.source_url}= source.source_name
  
  %input{:type => 'submit', :name => 'Submit'}