!!! XML
!!! Transitional
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title Big Sheet
    
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/css/style.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/css/table.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/css/autocomplete.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8', :href => '/facebox/facebox.css'}
      
    %script{:type => 'text/javascript', :src => '/javascript/jquery.js'}
    %script{:type => 'text/javascript', :src => '/javascript/bigsheet.js'}
    %script{:type => 'text/javascript', :src => '/facebox/facebox.js'}
    %script{:type => 'text/javascript', :src => '/javascript/dataTables.js'}
    %script{:type => 'text/javascript', :src => '/javascript/autocomplete.js'}
  
  %body
    %form{:action => '/table', :method => :get}

      - sources.each do |source|
        .source{:class => "source #{source.keyword}"}
          %h1= source.name
          = source_form source
          %h6
            Data source:
            %a{:href => source.source_url}= source.source_name
      
      %input{:type => 'submit', :name => 'Submit'}