.header
  %a{:href => '/'} Back to field selection!

%table#main.display
  %thead
    %tr
      - sort_by_ref(@data.keys, source_keys).each do |source|
        - sort_fields(@data[source].keys, source).each do |column|
          %th= column.to_s.titleize
  %tbody
    - @legislators.each do |legislator|
      %tr
        - sort_by_ref(@data.keys, source_keys).each do |source|
          - sort_fields(@data[source].keys, source).each do |column|
            %td= @data[source][column][legislator.bioguide_id]

%script{:type => 'text/javascript'}
  :plain
    $(document).ready(function() {
      $('#main').dataTable({
        bProcessing: true,
        bPaginate: false,
        aaSorting: [[1, 'asc'], [2, 'asc']]
      });
    });