%table
  %thead
    %tr
      %th
        %label{:for => 'legislator_name'} Name
      %th 
        %label{:for => 'legislator_state'} State
      %th 
        %label{:for => 'legislator_district'} District
      %th 
        %label{:for => 'legislator_gender'} Gender
      %th 
        %label{:for => 'legislator_party'} Party
  %tbody
    %tr
      %td
        %input{:type => 'checkbox', :name => 'legislator[name]', :value => '1', :id => 'legislator_name', :checked => 'checked', :disabled => true}
        %input{:type => 'hidden', :name => 'legislator[name]', :value => '1'}
      %td
        %input{:type => 'checkbox', :name => 'legislator[state]', :value => '1', :id => 'legislator_state', :checked => 'checked', :disabled => true}
        %input{:type => 'hidden', :name => 'legislator[state]', :value => '1'}
      %td
        %input{:type => 'checkbox', :name => 'legislator[district]', :value => '1', :id => 'legislator_district', :checked => 'checked', :disabled => true}
        %input{:type => 'hidden', :name => 'legislator[district]', :value => '1'}
      %td
        %input{:type => 'checkbox', :name => 'legislator[gender]', :value => '1', :id => 'legislator_gender'}
      %td
        %input{:type => 'checkbox', :name => 'legislator[party]', :value => '1', :id => 'legislator_party'}

.house
  %h3 House of Congress
  %input{:type => 'radio', :name => 'filters[house]', :value => 'senate', :id => 'filter_house_senate'}
  %label{:for => 'filter_house_senate'} Senate
  %input{:type => 'radio', :name => 'filters[house]', :value => 'house', :id => 'filter_house_house'}
  %label{:for => 'filter_house_house'} House of Representatives
  %input{:type => 'radio', :name => 'filters[house]', :value => 'both', :id => 'filter_house_both', :checked => 'checked'}
  %label{:for => 'filter_house_both'} Both Houses