%input{:type => 'hidden', :name => 'q', :value => params[:q], :id => 'roll_call_query'}

- if is_prev
  .page_button.prev_button
    %a{:href => '#', :onclick => 'return false'} &laquo; Back
    %input{:type => 'hidden', :name => 'page', :value => page - 1}

- if is_next
  .page_button.next_button
    %a{:href => '#', :onclick => 'return false'} More &raquo;
    %input{:type => 'hidden', :name => 'page', :value => page + 1}

%table
  %thead
    %tr.titles
      %th.select
      %th.date Date
      %th Description
      %th Result
  %tbody
    - roll_calls.each do |roll_call|
      %tr{:class => "search_result #{cycle_class}"}
        %td{:class => "roll_call_box"}
          %input{:type => 'checkbox', :class => 'selected'}
          %input{:type => 'hidden', :value => roll_call.identifier}
        %td.date= short_date roll_call.held_at
        %td= roll_call.question
        %td= roll_call.result