# Required: mysql adapter, with reconnect turned on
:development:
  :database: congrelate_development
  :username: congrelate
  :password: congrelate
  :host: localhost
  :adapter: mysql

:staging:
  :database: congrelate_staging
  :username: congrelate
  :password: congrelate
  :host: localhost
  :adapter: mysql

:production:
  :database: congrelate_production
  :username: congrelate
  :password: congrelate
  :host: localhost
  :adapter: mysql
  
:test:
  :database: congrelate_test
  :username: congrelate
  :password: congrelate
  :host: localhost
  :adapter: mysql