%div.search_field
    
  %input{:type => 'checkbox', :id => 'contribution_top_industries'}
  %input{:type => 'hidden', :value => 'top_industries'}
  %label{:for => 'contribution_top_industries'} 
    %strong Top Industries
  
  %button.add_button.source_add{:id => "search_name_add_#{source.keyword}", :type => 'submit'}

%div
  .search_table
    .search_table_inner{:id => "search_name_table_#{source.keyword}"}
      %table
        %thead
          %tr.titles
            %th.select
            %th 
            %th.select
            %th 
            %th.select
            %th 
        %tbody
          - industries.in_groups_of(industries.size/4).transpose.each do |row|
            %tr
              - row.each do |industry|
                %td
                  %input{:type => 'checkbox', :id => "industry_#{phrase_id industry}"}
                  %input{:type => 'hidden', :value => industry}
                %td
                  %label{:for => "industry_#{phrase_id industry}"}= industry