%div
  %label{:for => 'roll_call_identifier'} Roll Call:
  %input{:type => 'text', :id => 'roll_call_autocomplete'}
  %input{:type => 'hidden', :name => 'roll_call[identifier]', :id => 'roll_call_identifier'}
  
%script{:type => 'text/javascript'}
  :plain
    $(document).ready(function() {
      $('#roll_call_autocomplete').autocomplete('/roll_calls', {
        formatItem: function(row) {
          return "<em>" + row[1] + "</em><br/>" + row[0];
        },
        max: 50,
        formatResult: function(row) {
          return row[1];
        }
      }).result(function(event, data) {
        $('#roll_call_identifier').val(data[1]);
      });
    });