<div class="recency">
  Source the data and describe how recently it's been updated.
</div>

<div class="scrollable">
  <table class="grid">
    <!-- Checkbox options would go here -->
  </table>
</div>