%ul
  %li
    %input{:type => 'checkbox', :name => 'district[blacks]', :value => '1', :id => 'district__blacks'}
    %label{:for => 'district__blacks'} % Black
  %li
    %input{:type => 'checkbox', :name => 'district[whites]', :value => '1', :id => 'district__whites'}
    %label{:for => 'district__whites'} % White
  %li
    %input{:type => 'checkbox', :name => 'district[hispanics]', :value => '1', :id => 'district__hispanics'}
    %label{:for => 'district__hispanics'} % Hispanic
  %li
    %input{:type => 'checkbox', :name => 'district[american_indians]', :value => '1', :id => 'district__american_indians'}
    %label{:for => 'district__american_indians'} % American Indian
  %li
    %input{:type => 'checkbox', :name => 'district[asians]', :value => '1', :id => 'district__asians'}
    %label{:for => 'district__asians'} % Asian
  %li
    %input{:type => 'checkbox', :name => 'district[males]', :value => '1', :id => 'district__males'}
    %label{:for => 'district__males'} % Male
  %li
    %input{:type => 'checkbox', :name => 'district[females]', :value => '1', :id => 'district__females'}
    %label{:for => 'district__females'} % Female
  %li
    %input{:type => 'checkbox', :name => 'district[unemployment]', :value => '1', :id => 'district__unemployment'}
    %label{:for => 'district__unemployment'} % Unemployed
  %li
    %input{:type => 'checkbox', :name => 'district[median_age]', :value => '1', :id => 'district__median_age'}
    %label{:for => 'district__median_age'} Median Age
  %li
    %input{:type => 'checkbox', :name => 'district[median_household_income]', :value => '1', :id => 'district__median_household_income'}
    %label{:for => 'district__median_household_income'} Median Household Income
  %li
    %input{:type => 'checkbox', :name => 'district[median_house_value]', :value => '1', :id => 'district__median_house_value'}
    %label{:for => 'district__median_house_value'} Median House Value
  %li
    %input{:type => 'checkbox', :name => 'district[median_rent]', :value => '1', :id => 'district__median_rent'}
    %label{:for => 'district__median_rent'} Median Rent